<h1>Book Details</h1>

<p><strong>Title:</strong> <%= @book.title %></p>
<p><strong>Year of Publication:</strong> <%= @book.year_of_publication %></p>
<p><strong>Author:</strong> <%= @book.author.name %></p>

<%= link_to 'Edit', edit_cms_book_path(@book) %> |
<%= link_to 'Back', cms_books_path %>
<%= link_to 'Destroy', destroy_cms_book_path(@book), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete } %>